[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=VPS Player
GenericName=Audio player
Comment=High quality Variable Pitch and Speed audio player
Exec=vpsplayer %f
TryExec=vpsplayer
Icon=vps-64.png
Terminal=false
Categories=AudioVideo;Audio;Player;Qt;
MimeType=audio/mpeg;audio/mp3;audio/x-mp3;audio/x-mpeg;audio/mp4;audio/m4a;audio/aac;audio/x-m4a;audio/x-aac;audio/flac;audio/x-flac;audio/ogg;audio/opus;audio/vorbis;audio/x-vorbis;audio/x-vorbis+ogg;audio/wav;audio/x-wav;audio/x-ms-wma;audio/webm;audio/x-musepack;
